<!-- Formulaire de contact -->
<section>
    <form class="form">
        <h2>Contactez-nous</h2>

        <div>
            <label for="name-user">Nom&nbsp;:</label>
            <input type="text" name="name-user" id="name-user" placeholder="Votre nom" required>
        </div>
        <div>
            <label for="email-user">E-mail&nbsp;:</label>
            <input type="email" name="email-user" id="email-user" placeholder="votre@adresse.email" required>
        </div>
        <div>
            <label for="msg-user">Message&nbsp;:</label>
            <textarea name="msg-user" id="msg-user" placeholder="Votre message" rows="4" required></textarea>
        </div>
        <div class="div-button">
            <button type="submit">Envoyer</button>
            <button type="reset" title="Effacer" aria-label="Effacer"><i class="fa-solid fa-eraser"></i></button>
        </div>
    </form>
</section>
