<!-- Formulaire de contact -->
<section>
  <form class="form">
    <h2>Contactez-nous</h2>

    <div>
      <label for="userName">Nom&nbsp;:</label>
      <input type="text" name="userName" id="userName" placeholder="Votre nom" required />
    </div>
    <div>
      <label for="userEmail">E-mail&nbsp;:</label>
      <input
        type="email"
        name="userEmail"
        id="userEmail"
        placeholder="votre@adresse.email"
        required
      />
    </div>
    <div>
      <label for="userMsg">Message&nbsp;:</label>
      <textarea
        name="userMsg"
        id="userMsg"
        placeholder="Votre message"
        rows="4"
        required
      ></textarea>
    </div>
    <div class="div-button">
      <button type="submit">Envoyer</button>
      <button type="reset" title="Effacer" aria-label="Effacer">
        <i class="fa-solid fa-eraser"></i>
      </button>
    </div>
  </form>
</section>
