<section>
  <h2 class="h2-title">Catégories</h2>

  <div class="category-container">
    <a href="#">
      <img src="../../../assets/img/clothing/women_s_fashion.png" alt="Mode Femme" />
      <span>Femme</span>
    </a>
    <a href="#">
      <img src="../../../assets/img/clothing/men_s_fashion.png" alt="Mode Homme" />
      <span>Homme</span>
    </a>
    <a href="#">
      <img src="../../../assets/img/clothing/children_s_fashion.png" alt="Mode Enfant" />
      <span>Enfant</span>
    </a>
  </div>
</section>
