.empty {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

/*
    Bootstrap: carousel
*/

.carousel-container {
  display: flex;
  justify-content: space-around;
  align-items:start;
  flex-wrap: wrap;
}

.carousel-product {
  background-color: var(--light1-blue);
  width: 400px;
}

.carousel-img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  transform: scale(0.9);
}

button.carousel-control-prev,
button.carousel-control-next,
button.carousel-control-prev:hover,
button.carousel-control-next:hover,
button.carousel-control-prev:active,
button.carousel-control-next:active {
  border-radius: 5px;
  transform: scale(1);
}

button.carousel-control-prev,
button.carousel-control-prev:hover,
button.carousel-control-prev:active {
  background: linear-gradient(to right, var(--dark-blue), var(--light1-blue));
}

button.carousel-control-next,
button.carousel-control-next:hover,
button.carousel-control-next:active {
  background: linear-gradient(to left, var(--dark-blue), var(--light1-blue));
}

#products-card div {
  display: none;
}

#products-card .active {
  display: block;
}

/*
    Responsive design: smartphone
*/

@media only screen and (max-width: 767px) {
  .carousel-product {
    width: 200px;
  }

  .carousel-img {
    height: 200px;
  }
}
