  @if (products.length > 0) {
<section>
    <h2 class="h2-title">Nos Articles</h2>

    <div class="carousel-container">
      <div
        id="carousel-product"
        class="carousel slide carousel-fade carousel-product"
        (slid.bs.carousel)="onSlid($event)"
      >
        <div class="carousel-inner">
          @for (product of products; track product.id; let i = $index) {
            <div
              [id]="product.id"
              [class]="'carousel-item' + (isActive(product.id, i) ? ' active' : '')"
              #productCarousel
            >
              <img
                [src]="product.img"
                class="d-block w-100 carousel-img"
                [alt]="product.description"
              />
            </div>
          }
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carousel-product"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carousel-product"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div id="products-card">
        @for (product of products; track product.id; let i = $index) {
          <div
            [id]="'card_' + product.id"
            [class]="isActive(product.id, i) ? 'active' : ''"
            #productCard
          >
            <app-product-card
              [product]="product"
              [isList]="0"
              [isSearch]="1"
              (viewEvent)="view($event)"
              (addOneEvent)="addOne($event)"
              (removeOneEvent)="removeOne($event)"
            ></app-product-card>
          </div>
        }
      </div>
    </div>
</section>
  } @else {
<section class="empty">
    <h2 class="h2-title">Aucun article n'est référencé</h2>
</section>
  }
