.h2-info {
  margin-bottom: 20px;
}

.col-input {
  width: 130px;
}

.cell-product {
  width: 160px;
}

.cell-product div {
  background-color: var(--light1-blue);
  width: 150px;
  height: 150px;
  border: 2px solid var(--middle1-gray);
  border-radius: 5px;
  padding: 5px;
}

.cell-product div img {
  max-height: 100%;
  width: auto;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.quantity input {
  width: 50px;
  height: 38px;
  text-align: center;
}

.row-total {
  border: 2px solid var(--middle1-gray);
  font-weight: 600;
  font-size: 17px;
}

.label-total {
  padding-left: 15px;
  text-align: left;
  font-size: 20px;
}

.cell-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.btn-cart {
  font-size: 15px;
  font-weight: normal;
  padding-left: 0;
  padding-right: 0;
  width: 110px;
}