<button id="scroll-top" title="Retour en haut de la page" aria-label="Retour en haut de la page">
  <i class="fa-solid fa-arrow-up"></i>
</button>

<footer>
  <h2>Retrouvez-nous :</h2>
  <p>
    <a href="https://www.linkedin.com/in/fabien-chastang/" target="_blank"
      ><i class="fa-brands fa-square-linkedin"></i>LinkedIn</a
    >
    <a href="https://github.com/fabien-chastang" target="_blank"
      ><i class="fa-brands fa-github"></i>GitHub</a
    >
    <span class="copyright">Copyright © <span id="copyright-year"></span> My Shop</span>
  </p>
</footer>
