<h2 class="h2-info">
  <div>
    Commande du
    <span>{{ order.date | date: 'dd/MM/yyyy' }} à {{ order.date | date: 'HH:mm' }}</span>
  </div>
  <div>Référence : {{ order.reference }}</div>
</h2>

<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Produit</th>
        <th scope="col">Prix<span id="info-tax">(HT)</span></th>
        <th scope="col">Quantité</th>
        <th scope="col">Total<span id="info-tax">(HT)</span></th>
        <th scope="col">Statut</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      @for (product of order.products; track product.id; let i = $index) {
        <tr>
          <th scope="row">{{ i + 1 }}</th>
          <td class="cell-product">
            <div>
              <img [src]="product.img" [alt]="product.name" />
            </div>
            <span>{{ product.name }}</span>
          </td>
          <td>{{ product.price }} €</td>
          <td>{{ product.cartQuantity }}</td>
          <td>{{ Common.numberToString(product.cartQuantity * product.price) }} €</td>
          @if (i === 0) {
            <td class="status" [rowSpan]="order.products.length">
              {{ orderStatus.getByValue(order.status)?.name }}
            </td>
          }
        </tr>
      }
      <tr class="row-total">
        <td colspan="3" class="label-total">Total</td>
        <td colspan="3">
          <div class="cell-total">
            <div [style.white-space]="'nowrap'">
              {{ Common.numberToString(order.totalExcludingTax) }} €<span id="info-tax">(HT)</span>
            </div>
            <div [style.white-space]="'nowrap'">
              {{ Common.numberToString(order.totalIncludingTax) }} €<span id="info-tax">(TTC)</span>
            </div>
            @if (order.totalPromotion > 0) {
              <div [style.white-space]="'nowrap'">
                {{ Common.numberToString(order.totalPromotion) }} € Facturé (promotion)
              </div>
            }
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
