<section class="search">
  <input
    type="text"
    id="emailUsers"
    placeholder="Adresse mail..."
    aria-label="Rechercher un client par son adresse mail"
    (input)="dashboard.searchTextItems($event.target.value)"
    #emailUsers
  />
  <input
    type="text"
    id="referenceUsers"
    placeholder="Référence..."
    aria-label="Rechercher un client par sa référence"
    (input)="dashboard.searchRefItems($event.target.value)"
    #referenceUsers
  />
  <select
    name="role"
    id="role"
    aria-label="Sélectionner le role"
    (change)="selectRole($event.target)"
  >
    <option value="-1" selected>– Tous –</option>
    @for (role of roles.items; track role.value; let i = $index) {
      <option [value]="role.value">{{ role.name }}</option>
    }
  </select>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Référence</th>
          <th scope="col">Genre</th>
          <th scope="col">
            <a class="link no-select" (click)="dashboard.sort('name')">
              Nom<i #sortName class="fa-solid fa-caret-up arrow"></i>
            </a>
          </th>
          <th scope="col">
            <a class="link no-select" (click)="dashboard.sort('email')">
              E-mail<i #sortEmail class="fa-solid fa-caret-up arrow hidden"></i>
            </a>
          </th>
          <th scope="col">Pays</th>
          <th scope="col">
            <a class="link no-select" (click)="dashboard.sort('role')">
              Role<i #sortRole class="fa-solid fa-caret-up arrow hidden"></i>
            </a>
          </th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        @for (user of dashboard.arrays.filteredItems; track user.id; let i = $index) {
          <tr [class]="user.role !== 0 ? 'admin-row' : ''">
            <th scope="row">{{ i + 1 }}</th>
            <td [class]="user.role !== 0 ? 'admin-cell' : ''">{{ user.reference }}</td>
            <td>{{ user.gender > 0 ? genders.getByValue(user.gender)?.name : '—' }}</td>
            @if (user.id === editUser?.id) {
              <td class="inline">
                <input
                  type="text"
                  id="userName"
                  class="form-control"
                  autocomplete="off"
                  [(ngModel)]="user.name"
                />
              </td>
              <td class="inline">
                <input
                  type="email"
                  id="userEmail"
                  class="form-control"
                  autocomplete="off"
                  [(ngModel)]="user.email"
                />
              </td>
            } @else {
              <td [class]="user.role !== 0 ? 'admin-cell-left' : 'cell-left'">{{ user.name }}</td>
              <td [class]="user.role !== 0 ? 'admin-cell-left' : 'cell-left'">{{ user.email }}</td>
            }
            <td>{{ user.country > 0 ? countries.getByValue(user.country)?.name : '—' }}</td>
            <td [class]="user.role !== 0 ? 'admin-cell' : ''">
              {{ roles.getByValue(user.role)?.name }}
            </td>
            <td [style.white-space]="'nowrap'">
              @if (user.id === editUser?.id) {
                <button
                  type="button"
                  class="btn btn-warning"
                  title="Enregister les modification"
                  aria-label="Enregister les modification"
                  (click)="saveInline(user)"
                >
                  <i class="fa-solid fa-floppy-disk"></i>
                </button>
              } @else {
                <button
                  type="button"
                  class="btn btn-success"
                  title="Éditer en ligne"
                  aria-label="Éditer en ligne"
                  (click)="editInline(user)"
                >
                  <i class="fa-solid fa-file-pen"></i>
                </button>
              }
              <button
                type="button"
                class="btn btn-success"
                title="Éditer avec le formulaire"
                aria-label="Éditer avec le formulaire"
                (click)="gotoForm(user)"
              >
                <i class="fa-brands fa-jxl"></i>
              </button>
              <button
                type="button"
                class="btn btn-danger"
                title="Supprimer l'utilisateur"
                aria-label="Supprimer l'utilisateur"
                (click)="remove(user.id)"
              >
                <i class="fa-solid fa-user-xmark"></i>
              </button>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="8">Aucun utilisateur n'est référencé</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
