<section class="section-product-view">
  <div class="div-img">
    <span
      [class]="product.favorite ? 'article-favorite' : 'inactive'"
      title="Article favori"
      aria-label="Article favori"
    >
      <i class="fa-solid fa-heart"></i>
    </span>
    <img [src]="product.img" [alt]="product.name" />
  </div>
  <div>
    <article [tabindex]="'0'">
      <span [class]="product.price < 25 ? 'article-good' : 'inactive'">Bonne<br />Affaire</span>
      <span [class]="product.price > 50 ? 'article-top' : 'inactive'">Top<br />Produit</span>
      <span [class]="product.stock > 0 ? 'article-available' : 'article-unavailable'">
        {{ product.stock > 0 ? 'En stock' : 'Indisponible' }}
      </span>
      @if (fullDescription.length > 0) {
        <h2>{{ product.description }}</h2>
      } @else {
        <h2>{{ product.name }}</h2>
      }
      @if (product.info) {
        <p class="info">{{ product.info }}</p>
      }
      <div class="price">
        <span>Prix: {{ product.price }} €</span>
        <div>
          <button
            type="button"
            [disabled]="product.stock === 0"
            class="btn btn-success"
            [class.btn-disabled]="product.stock === 0"
            title="Ajouter au panier"
            aria-label="Ajouter au panier"
            (click)="addCart(product)"
          >
            <i class="fa-solid fa-cart-arrow-down"></i>
          </button>
          <button
            type="button"
            [disabled]="product.stock === 0"
            class="btn btn-danger"
            [class.btn-disabled]="product.stock === 0"
            title="Retirer du panier"
            aria-label="Retirer du panier"
            (click)="removeCart(product)"
          >
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
      <p class="full-desc">
        @if (fullDescription.length > 0) {
          @for (item of fullDescription; track $index) {
            @if (item.title) {
              <p class="desc-title">&bull; {{ item.title }}</p>
            }
            @for (desc of item.description; track $index) {
              <p class="desc">{{ desc }}</p>
            }
          }
        } @else {
          <p class="desc-short">{{ product.description }}</p>
        }
      </p>
    </article>
  </div>
</section>
