<section class="search">
  <h2 class="h2-title">
    <label for="search">Nos Articles</label>
  </h2>

  <input
    type="text"
    id="search"
    placeholder="Rechercher..."
    aria-label="Rechercher des articles"
    (input)="search($event.target.value)"
  />
  <div class="product-container">
    @for (product of filteredProducts; track product.id; let i = $index) {
      <app-product-card
        [product]="product"
        [isList]="1"
        [isSearch]="1"
        (viewEvent)="view($event)"
      ></app-product-card>
    } @empty {
      <p>Aucun article n'est référencé</p>
    }
  </div>
</section>
