<section class="search">
  <h2 class="h2-title">Nos Articles</h2>

  <input
    type="text"
    id="nameProducts"
    placeholder="Nom de l'article..."
    aria-label="Rechercher des articles par leur nom"
    (input)="searchNameItems($event.target.value)"
    #nameProducts
  />
  <select
    name="type"
    id="type"
    aria-label="Sélectionner le type"
    (change)="selectTypeItems($event.target)"
  >
    <option value="-1" selected>– Tous –</option>
    @for (type of ProductTypes.list; track type.value; let i = $index) {
      <option [value]="type.value">{{ ProductTypes.getLabel(type.value, 'Non précisé') }}</option>
    }
  </select>
  <select
    name="category"
    id="category"
    aria-label="Sélectionner la catégorie"
    (change)="selectCategoryItems($event.target)"
  >
    <option value="-1" selected>– Tous –</option>
    @for (category of ProductCategories.list; track category.value; let i = $index) {
      <option [value]="category.value">{{ ProductCategories.getLabel(category.value, 'Non précisé') }}</option>
    }
  </select>
  <div class="product-container">
    @for (product of filteredItems; track product.id; let i = $index) {
      <app-product-card
        [product]="product"
        [isList]="1"
        [isSearch]="1"
        (viewEvent)="view($event)"
      ></app-product-card>
    } @empty {
      <p>Aucun article n'est référencé</p>
    }
  </div>
</section>
