<!-- The secure form for payment of the order -->
<section>
    <form class="form">
        <h2>
            <span style="font-size: 16px; font-weight: normal; font-style: italic; padding-bottom: 20px; display: inline-block;">
                TODO: the secure form for payment of the order
            </span>
        </h2>

        <div class="div-button">
            <button type="submit" class="btn btn-success" title="Payer" aria-label="Payer">
                <i class="fa-solid fa-money-bill-transfer"></i>
            </button>
        </div>
    </form>
</section>
