/*****************************\
    Reset style
\*****************************/

*:not(ul,ol,li) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************************************************************************\
    Sticky footer
    https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3
*/

html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
footer {
    flex-shrink: 0;
}
.page-container {
    flex: 1 0 auto;
}

/*****************************\
    Body
\*****************************/

body {
    background-color: #e8f0ff;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: white;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
}

section:first-of-type {
    margin-top: 20px;
}

section:last-of-type {
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.h2-title,
.h2-info {
    margin-bottom: 10px;
}

.h2-title {
    text-align: center;
}

/*
    Table
*/

th,
td {
    text-align: center;
    vertical-align: middle;
}

/*
    Responsive design: smartphone
*/

@media only screen and (max-width: 767px) {
    section {
        padding: 5px;
    }
}

/*****************************\
    Button / Navbar boutton
\*****************************/

button {
    border: 2px solid darkblue;
    border-radius: 5px;
    background-color: #2b58d4;
    color: white;
    padding: 5px 15px;
}

#SCROLL_TOP {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
    all: unset;
}

#SCROLL_TOP,
.article-product button,
.navbar-toggler.btn-burger {
    border: 2px solid white;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
}

.navbar-toggler.btn-burger {
    padding: 5px 15px;
    cursor: pointer;
}

button:hover,
#SCROLL_TOP:hover,
.navbar-toggler.btn-burger:hover {
    background-color: #5683ff;
}

button:active,
.navbar-toggler.btn-burger:active {
    transform: scale(0.9);
}

.navbar-toggler.btn-burger:focus {
    padding: 3px 13px;
    border-width: 4px;
}

/*****************************\
    Header / Footer
\*****************************/

header,
footer {
    border: 5px solid #e8f0ff;
    border-radius: 10px;
    background-color: #2b58d4;
    text-align: center;
    color: white;
    padding: 10px;
}

header {
    z-index: 100;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-bottom: 0;
}

header a,
footer a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

header a:hover,
footer a:hover {
    transform: translateY(-1px) scale(1.2);
    text-decoration: underline;
}

header .selected-page {
    display: inline-block;
    cursor: default;
    transform: translateY(-1px) scale(1.2);
    color: yellow;
}

footer h2 {
    margin-bottom: 10px;
    text-align: center;
}

footer a {
    margin: 0 15px;
}

footer a i {
    margin-right: 3px;
}

footer .copyright {
    margin: 0 15px;
    font-style: italic;
    white-space: nowrap;
}

/*
    Responsive design: smartphone
*/

@media only screen and (max-width: 767px) {
    header h1,
    header nav,
    footer h2,
    footer p {
        transform: scale(0.9);
    }
}

/*****************************\
    Bootstrap: navbar
\*****************************/

.navbar-collapse:not(.show) {
    display: none;
}

.navbar-collapse.show {
    text-align: left;
    padding-top: 10px;
}

.navbar-collapse.show ul {
    gap: 5px;
}

.navbar-collapse.show a:hover,
.navbar-collapse.show .selected-page {
    transform: translateY(0) scale(1);
}

.navbar-collapse.show .selected-page {
    font-weight: bold;
}

/*****************************\
    Banner
\*****************************/

.section-banner {
    height: 600px;
    background-image: url(../img/slider-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-banner div.container {
    height: 100%;
}

.section-banner h2 {
    color: #b90000;
    margin-bottom: 15px;
}

.section-banner p {
    margin-bottom: 30px;
}

.section-banner a {
    display: inline-block;
    background-color: #b90000;
    text-decoration: none;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    border: 2px solid #b90000;
    border-radius: 5px;
    padding: 5px 15px;
}

.section-banner a:hover {
    background-color: #ffe600;
    color: #b90000;
}

.section-banner a:active {
    transform: scale(0.9);
}

/*****************************\
    Categories
\*****************************/

.category-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/*
    Category card
*/

.category-container a {
    text-decoration: none;
    text-align: center;
    border: 1px solid #afabab;
    border-radius: 10px;
    overflow: hidden;
    width: 150px;
}

.category-container a img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.category-container a span {
    display: block;
    width: 100%;
    color: #333;
    font-weight: bold;
    padding: 10px 0;
}

/*
    Animation
*/

.category-container a:hover {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

/*****************************\
    Products
\*****************************/

.product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/*
    Product card
*/

.article-product {
    position: relative;
    background-color: #d4d2d3;
    text-align: center;
    width: 300px;
    border-radius: 10px;
    margin: 10px 20px;
    padding: 15px;
}

.article-product:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 5px 5px 10px 5px gray;
}

.article-product h3 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.article-product p {
    margin: 10px 0;
}

.article-product p span {
    color: #b90000;
    font-weight: bold;
}

.article-product p:last-of-type {
    color: #b90000;
    font-size: 20px;
    font-weight: 900;
}

.article-product div {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid #afabab;
    border-radius: 5px;
    padding: 5px;
}

.article-product div img {
    height: 186px;
    width: auto;
}

/*
    Flags
*/

.article-badge,
.article-new {
    position: absolute;
    top: 7px;
    padding: 0 3px;
    font-weight: 800;
    border-radius: 3px;
}

.article-badge {
    right: 7px;
    background-color: yellow;
    color: #b90000;
    border: 1px solid #b90000;
}

.article-new {
    left: 7px;
    background-color: lightgreen;
    color: #004000;
    border: 1px solid #004000;
}

.article-favorite {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #009600;
    font-size: 24px;
}

/*
    Bootstrap: carousel
*/

.carousel-product {
    background-color: #e8f0ff;
    width: 350px;
}

.carousel-img {
    width: 100%;
    height: 350px;
    object-fit: contain;
}

.inactive {
    display: none;
}

button.carousel-control-prev,
button.carousel-control-next,
button.carousel-control-prev:hover,
button.carousel-control-next:hover,
button.carousel-control-prev:active,
button.carousel-control-next:active {
    background-color: darkblue;
    border: 2px solid darkblue;
    border-radius: 5px;
    transform: scale(1);
}

/*
    Responsive design: smartphone
*/

@media only screen and (max-width: 767px) {
    .article-product:hover {
        transform: translateY(0) scale(1);
        box-shadow: none;
    }

    .carousel-product {
        width: 200px;
    }

    .carousel-img {
        height: 200px;
    }
}

/*****************************\
    Form
\*****************************/

.form {
    max-width: 500px;
    background-color: white;
    border: 1px solid #afabab;
    border-radius: 10px;
    padding: 20px 10px 5px 10px;
    margin: 20px auto;
}

.form h2 {
    text-align: center;
}

.form fieldset {
    border: 1px solid #afabab;
    border-radius: 5px;
    padding: 10px 30px 20px 30px;
    margin: 10px;
}

.form legend {
    all: unset;
    font-weight: 900;
    padding: 5px;
}

.form div {
    margin-bottom: 10px;
}

.field-container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.field {
    display: inline-block;
    margin-bottom: 0;
    white-space: nowrap;
}

.form label,
.form span,
.field-label {
    font-weight: bold;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form textarea,
.form select {
    background-color: white;
    border: 1px solid #afabab;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.form input[type="checkbox"],
.form input[type="radio"] {
    height: auto;
    margin-right: 5px;
}

.div-button {
    text-align: center;
    padding-top: 5px;
    white-space: nowrap;
}

#name {
    border: 2px dotted red;
}

/*
    Responsive design: smartphone
*/

@media only screen and (max-width: 767px) {
    .form {
        padding: 10px;
        margin: 10px auto;
    }

    .form h2,
    .form fieldset,
    .form legend,
    .div-button {
        transform: scale(0.9);
    }
}

/*****************************\
    CSS grid
\*****************************/

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    /* justify-items: center;
    align-items: center; */
    justify-content: center;
    /* row-gap: 10px; */
    /* column-gap: 10px; */
}

/* .grid-container div {
  background: #3498db;
  color: white;
  padding: 20px;
  text-align: center;
} */
