.about p:first-of-type {
  margin-top: 20px;
}

.about p {
  margin: 10px 0;
}

.about p:last-of-type {
  margin-bottom: 0;
}

#main-about section:nth-of-type(2) aside {
  margin-top: 10px;
  font-style: italic;
}

#main-about section:nth-of-type(2) mark {
  margin-left: 50px;
}

#main-about section:last-of-type ol li:last-child {
  margin-bottom: 20px;
}
