<section class="search">
  <input
    type="text"
    id="nameProducts"
    placeholder="Nom du produit..."
    aria-label="Rechercher un produit par son nom"
    (input)="searchNameItems($event.target.value)"
    #nameProducts
  />
  <input
    type="text"
    id="referenceProducts"
    placeholder="Référence..."
    aria-label="Rechercher un produit par sa référence"
    (input)="searchRefItems($event.target.value)"
    #referenceProducts
  />
  <select
    name="stock"
    id="stock"
    aria-label="Sélectionner le stock maximal"
    (change)="selectStockItems($event.target)"
  >
    <option value="-1" selected>– Tous –</option>
    <option value="0">En rupture</option>
    <option value="10">≤ 10</option>
    <option value="50">≤ 50</option>
    <option value="-50">> 50</option>
  </select>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Référence</th>
          <th scope="col">Nom</th>
          <th scope="col">Description</th>
          <th scope="col" [style.white-space]="'nowrap'">Prix <span id="info-tax">(HT)</span></th>
          <th scope="col" [style.white-space]="'nowrap'">Prix <span id="info-tax">(TTC)</span></th>
          <th scope="col">Stock</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        @for (product of filteredItems; track product.id; let i = $index) {
          <tr [class]="product.stock === 0 ? 'unavailable-row' : ''">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <div [class]="product.stock === 0 ? 'unavailable-cell-id' : ''">
                {{ product.reference }}
              </div>
            </td>
            <td>
              <div [class]="product.stock === 0 ? 'unavailable-cell-left' : 'cell-left'">
                {{ product.name }}
              </div>
            </td>
            <td [class]="'cell-left'">{{ product.description }}</td>
            <td>{{ Common.numberToString(product.price) }} €</td>
            <td>{{ Common.numberToString(product.additional.priceTax) }} €</td>
            <td>
              <div [class]="product.stock === 0 ? 'unavailable-cell' : ''">
                {{ product.stock }}
              </div>
            </td>
            <td [style.white-space]="'nowrap'">
              <button
                type="button"
                class="btn btn-primary"
                title="Consulter l'article"
                aria-label="Consulter l'article"
                (click)="view(product.id)"
              >
                <i class="fa-regular fa-file-lines"></i>
              </button>
              <button
                type="button"
                class="btn btn-success"
                title="Éditer avec le formulaire"
                aria-label="Éditer avec le formulaire"
                (click)="edit(product.id)"
              >
                <i class="fa-brands fa-jxl"></i>
              </button>
              <button
                type="button"
                class="btn btn-danger"
                title="Supprimer l'article"
                aria-label="Supprimer l'article"
                (click)="remove(product.id)"
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="8">Aucun article n'est référencé</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
