.search {
  margin: 0;
  padding: 10px 0 0 0;
}

.search input {
  margin-bottom: 15px;
  margin-right: 5px;
  width: 40%;
  height: 28px;
}

.search select {
  height: 28px;
}

.inline input {
  margin: auto;
  width: 100%;
}

.admin-row {
  font-weight: 600;
}

.admin-cell,
.admin-cell-left {
  color: var(--middle-red);
}

.cell-left,
.admin-cell-left {
  text-align: left;
}
