.article-product {
  position: relative;
  background-color: rgb(212, 211, 210);
  text-align: center;
  width: 300px;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 15px;
}

.article-product:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0.2em 0.2em 0.8em 0.2em rgba(0, 0, 0, 0.5);
}

.article-product h3 {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.article-product p {
  margin: 10px 0;
}

.article-product p span {
  color: rgb(185, 0, 0);
  font-weight: bold;
}

.article-product p:last-of-type {
  color: rgb(185, 0, 0);
  font-size: 20px;
  font-weight: 900;
}

.article-product div {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 2px solid rgb(175, 171, 171);
  border-radius: 5px;
  padding: 5px;
}

.article-product div img {
  height: 186px;
  width: auto;
}

/*
    Flags
*/

.article-badge,
.article-new {
  position: absolute;
  top: 7px;
  padding: 0 3px;
  font-weight: 800;
  border-radius: 3px;
}

.article-badge {
  right: 7px;
  background-color: rgb(255, 230, 0);
  color: rgb(185, 0, 0);
  border: 1px solid rgb(185, 0, 0);
}

.article-new {
  left: 7px;
  background-color: lightgreen;
  color: rgb(0, 64, 0);
  border: 1px solid rgb(0, 64, 0);
}

.article-favorite {
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgb(0, 150, 0);
  font-size: 24px;
}

.article-top,
.article-good {
  position: absolute;
  top: 7px;
  padding: 0 3px;
  font-size: 11px;
  font-weight: 800;
  border-radius: 3px;
}
.article-top {
  right: 7px;
  background-color: rgb(255, 230, 0);
  color: rgb(185, 0, 0);
  border: 1px solid rgb(185, 0, 0);
}
.article-good {
  left: 7px;
  background-color: lightgreen;
  color: rgb(0, 64, 0);
  border: 1px solid rgb(0, 64, 0);
}
