.article-product,
.article-product-selected {
  position: relative;
  background-color: var(--light2-gray);
  text-align: center;
  width: 300px;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 15px;
}

.article-product-selected,
.article-product:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0.2em 0.2em 0.8em 0.2em rgba(0, 0, 0, 0.5);
}

.article-product-selected {
  margin: 20px;
}

.article-product h3,
.article-product-selected h3 {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.article-product p,
.article-product-selected p {
  margin: 10px 0;
}

.article-product p span,
.article-product-selected p span {
  color: var(--dark1-red);
  font-weight: bold;
}

.article-product p:last-of-type,
.article-product-selected p:last-of-type {
  color: var(--dark1-red);
  font-size: 20px;
  font-weight: 900;
}

.article-product div,
.article-product-selected div {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 2px solid var(--middle1-gray);
  border-radius: 5px;
  padding: 5px;
}

.article-product div img,
.article-product-selected div img {
  height: 186px;
  width: auto;
}

/*
    Responsive design: smartphone
*/

@media only screen and (max-width: 767px) {
  .article-product,
  .article-product-selected {
    margin: 10px 5px;
    width: 200px;
  }

  .article-product:hover,
  .article-product-selected {
    transform: translateY(0) scale(1);
    box-shadow: none;
  }

  .article-product div,
  .article-product-selected div {
    width: 150px;
    height: 200px;
  }

  .article-product div img,
  .article-product-selected div img {
    height: 136x;
    width: auto;
  }
}
