<article [tabindex]="'0'" [class]="isList === 1 ? 'article-product' : 'article-product-selected'">
  <span [class]="product.price < 25 ? 'article-good' : 'inactive'">Bonne<br />Affaire</span>
  <span [class]="product.price > 50 ? 'article-top' : 'inactive'">Top<br />Produit</span>
  <h3>{{ product.name }}</h3>
  @if (product.info) {
    <p>
      <span>{{ product.info }}</span>
    </p>
  }
  <div>
    <span
      [class]="product.favorite ? 'article-favorite' : 'inactive'"
      title="Article favori"
      aria-label="Article favori"
    >
      <i class="fa-solid fa-heart"></i>
    </span>
    <span [class]="product.stock > 0 ? 'article-available' : 'article-unavailable'">
      {{ product.stock > 0 ? 'En stock' : 'Indisponible' }}
    </span>
    <img [src]="product.img" [alt]="product.name" />
  </div>
  <p>{{ product.description }}</p>
  <p>Prix: {{ product.price }} €</p>
  <button
    type="button"
    class="btn btn-primary"
    [title]="isSearch === 1 ? 'Consulter l\'article' : 'Voir le carrousel de nos articles'"
    [aria-label]="isSearch === 1 ? 'Consulter l\'article' : 'Voir le carrousel de nos articles'"
    (click)="view(product.id)"
  >
    <i class="fa-regular fa-eye"></i>
  </button>
  @if (isList !== 1) {
    <button
      type="button"
      [disabled]="product.stock === 0"
      class="btn btn-success"
      [class.btn-disabled]="product.stock === 0"
      title="Ajouter au panier"
      aria-label="Ajouter au panier"
      (click)="addCart(product)"
    >
      <i class="fa-solid fa-cart-arrow-down"></i>
    </button>
    <button
      type="button"
      [disabled]="product.stock === 0"
      class="btn btn-danger"
      [class.btn-disabled]="product.stock === 0"
      title="Retirer du panier"
      aria-label="Retirer du panier"
      (click)="removeCart(product)"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  }
</article>
