:root {
  /* Blue */
  --light1-blue: rgb(240, 248, 255);
  --light2-blue: rgb(90, 130, 255);
  --middle-blue: rgb(40, 80, 205);
  --dark-blue: rgb(0, 0, 140);

  /* Gray */
  --light1-gray: rgb(245, 245, 250);
  --light2-gray: rgb(210, 210, 215);
  --middle1-gray: rgb(180, 180, 185);
  --middle2-gray: rgb(130, 130, 135);
  --dark1-gray: rgb(85, 85, 90);
  --dark2-gray: rgb(50, 50, 55);

  /* Green */
  --light1-green: rgb(145, 240, 145);
  --light2-green: rgb(0, 150, 0);
  --dark1-green: rgb(0, 100, 0);
  --dark2-green: rgb(0, 65, 0);

  /* Red */
  --middle-red: rgb(220, 10, 0);
  --dark1-red: rgb(185, 0, 0);
  --dark2-red: rgb(140, 0, 0);

  /* Yellow */
  --light-yellow: rgb(255, 255, 225);
  --middle-yellow: rgb(255, 230, 0);

  /* Black shadows */
  --black-shadow-light: rgba(0, 0, 0, 0.3);
  --black-shadow-middle: rgba(0, 0, 0, 0.5);
}

/*****************************\
    Reset style
\*****************************/

*:not(ul, ol, li) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************************\
    Sticky footer
\*****************************/

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: var(--light1-blue);
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 15px;
  }
}

/*****************************\
    General
\*****************************/

.inactive {
  display: none;
}

.pointer {
  cursor: pointer;
}

.warning,
.error {
  font-weight: normal;
  font-size: 15px;
  color: var(--middle-red);
}

.warning {
  font-style: italic;
}

section {
  background-color: white;
  border-radius: 10px;
  margin: 30px;
  padding: 20px;
}

section:first-of-type {
  margin-top: 20px;
}

section:last-of-type {
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

.h2-title,
.h2-info {
  margin-bottom: 10px;
}

.h2-title {
  text-align: center;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

a,
a.nav-link:not(active) {
  color: var(--middle-blue);
}

.link {
  color: var(--middle-blue);
  text-decoration: underline;
  cursor: pointer;
}

/*
    Responsive design: smartphone
*/

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  section {
    margin: 10px;
    padding: 5px;
  }
}

/*****************************\
    Header / Footer
\*****************************/

header,
footer {
  border: 5px solid var(--light1-blue);
  border-radius: 10px;
  text-align: center;
  color: var(--light1-blue);
  padding: 10px;
}

header a,
footer a {
  display: inline-block;
  text-decoration: none;
  color: var(--light1-blue);
}

header a:hover,
footer a:hover {
  transform: translateY(-1px) scale(1.2);
  text-decoration: underline;
}

header ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-bottom: 0;
}

/*
    Responsive design: smartphone
*/

@media only screen and (max-width: 767px) {
  header h1,
  header nav,
  header .selected-page,
  footer h2,
  footer p,
  footer .copyright {
    transform: scale(0.9);
  }
}

/*****************************\
    Button / Navbar
\*****************************/

button {
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
  background-color: var(--middle-blue);
  color: white;
  padding: 5px 15px;
  margin: 2px;
}

.div-button {
  text-align: center;
  padding-top: 5px;
  white-space: nowrap;
}

.btn-disabled,
.btn-disabled:hover,
.btn-disabled:active {
  background-color: var(--light2-gray);
  color: black;
  border-color: var(--middle2-gray);
  transform: scale(1);
}

.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
  all: unset;
}

#scroll-top,
.navbar-toggler.btn-burger {
  background-color: var(--dark-blue);
  color: var(--light1-blue);
  border-radius: 5px;
}

.navbar-toggler.btn-burger {
  padding: 5px 15px;
  border: 2px solid var(--light1-blue);
  cursor: pointer;
}

button:hover,
#scroll-top:hover,
.navbar-toggler.btn-burger:hover {
  background-color: var(--light2-blue);
}

button:active,
.navbar-toggler.btn-burger:active {
  transform: scale(0.9);
}

.navbar-toggler.btn-burger:focus {
  padding: 3px 13px;
  border-width: 4px;
}

/*****************************\
    Categories
\*****************************/

.category-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/*
    Card
*/

.category-container app-category-card {
  text-align: center;
  border: 1px solid var(--middle1-gray);
  border-radius: 10px;
  overflow: hidden;
  width: 150px;
  cursor: pointer;
}

.category-container app-category-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.category-container app-category-card span {
  display: block;
  width: 100%;
  color: var(--dark2-gray);
  font-weight: bold;
  padding: 10px 0;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .category-container app-category-card {
    width: 120px;
  }

  .category-container app-category-card img {
    height: 90px;
  }
}

/*
    Animation
*/

.category-container app-category-card:hover {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/*****************************\
    Products
\*****************************/

.product-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#info-tax {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  transform: scale(0.75);
}

/*
    Flags
*/

.article-promo,
.article-new {
  position: absolute;
  top: 7px;
  left: 7px;
  padding: 0 3px;
  text-align: center;
  font-weight: 800;
  border-radius: 3px;
}
.article-promo {
  background-color: var(--middle-yellow);
  color: var(--dark1-red);
  border: 1px solid var(--dark1-red);
}
.article-new {
  background-color: var(--light1-green);
  color: var(--dark2-green);
  border: 1px solid var(--dark2-green);
}

.article-favorite {
  position: absolute;
  top: -16px;
  right: -16px;
  color: var(--light2-green);
  font-size: 24px;
}

.article-top,
.article-good {
  position: absolute;
  top: 7px;
  left: 7px;
  padding: 0 3px;
  text-align: center;
  font-size: 11px;
  font-weight: 800;
  border-radius: 3px;
}
.article-top {
  background-color: var(--middle-yellow);
  color: var(--dark1-red);
  border: 1px solid var(--dark1-red);
}
.article-good {
  background-color: var(--light1-green);
  color: var(--dark2-green);
  border: 1px solid var(--dark2-green);
}

.article-available,
.article-unavailable {
  position: absolute;
  bottom: -10px;
  right: -15px;
  text-align: center;
  color: white;
  padding: 4px 7px;
  font-size: 11px;
  border-radius: 5px;
}
.article-available {
  background-color: var(--dark1-green);
}
.article-unavailable {
  background-color: var(--dark2-red);
}

@media only screen and (max-width: 767px) {
  .article-promo,
  .article-new,
  .article-top,
  .article-good {
    display: none;
  }
}

/*****************************\
    Form
\*****************************/

.form {
  position: relative;
  margin: 20px auto;
  padding: 20px 10px 5px 10px;
  max-width: 500px;
  background-color: var(--light1-blue);
  border: 1px solid var(--middle1-gray);
  border-radius: 10px;
}

.form.white {
  background-color: white;
}

.form h2 {
  text-align: center;
}

.form fieldset {
  margin: 10px;
  padding: 10px 30px 20px 30px;
  border: 1px solid var(--middle1-gray);
  border-radius: 5px;
  background-color: var(--light1-blue);
}

.form legend {
  all: unset;
  font-weight: 900;
  padding: 5px;
}

.form div {
  margin-bottom: 10px;
}

.form label,
.form span {
  font-weight: bold;
}

.form .required {
  color: var(--middle-red);
  font-size: 20px;
  margin-left: 5px;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form textarea,
.form select {
  background-color: white;
  border: 1px solid var(--middle1-gray);
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

.form input[type='checkbox'],
.form input[type='radio'] {
  height: auto;
  margin-right: 5px;
}

.form .number {
  max-width: 100px;
  height: 30px;
}

.label-number {
  display: inline-block;
  width: 80px;
  height: 25px;
}

/*
    Information
*/

.form .info-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.form .info-icon i {
  transform: scale(1.75);
}

.form .info-text {
  z-index: 150;
  position: absolute;
  top: 100%;
  right: 20px;
  background-color: var(--light-yellow);
  border: 1px solid var(--middle2-gray);
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
  width: 500px;

  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
}

.form .info-text.simple {
  padding-bottom: 10px;
  width: 450px;
}

.form .info-text p {
  margin-bottom: 5px;
}

.form .info-text p:last-of-type {
  margin-bottom: 0;
}

.form .info-icon:hover .info-text {
  visibility: visible;
  opacity: 1;
}

/*
    Responsive design: smartphone
*/

@media only screen and (max-width: 767px) {
  .form {
    padding: 10px;
    margin: 10px auto;
  }

  .form h2,
  .form fieldset,
  .form legend,
  .div-button {
    transform: scale(0.9);
  }

  .form .info-text {
    width: 280px;
  }
}

/*****************************\
    CSS grid
\*****************************/

.grid-container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  /* justify-items: center;
    align-items: center; */
  justify-content: center;
  /* row-gap: 10px; */
  /* column-gap: 10px; */
}

/* .grid-container div {
  background: var(--light2-blue);
  color: white;
  padding: 20px;
  text-align: center;
} */
