<!-- Shopping cart table -->
<section>
    <h2 class="h2-info inactive">Mon panier</h2>

    <div class="table-responsive inactive">
        <form>
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Produit</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Total</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider"></tbody>
            </table>
        </form>
    </div>
</section>
