<section>
  <!-- Login form -->
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
    <!-- Information regarding the completion of the form -->
    <app-tooltip [isSimple]="true" [helpHTML]="helpHTML"></app-tooltip>

    <!-- Form title -->
    <h2>Connexion</h2>

    <div>
      <!-- Error message -->
      @if (errorMsg != '') {
        <div class="error">{{ errorMsg }}</div>
      }
      <label for="userEmail">E-mail&nbsp;:</label><span class="required">*</span>
      <input
        type="email"
        id="userEmail"
        formControlName="userEmail"
        placeholder="votre@adresse.email"
        autocomplete="off"
        required
      />
      <!-- Error message -->
      @if (
        loginForm.get('userEmail')?.invalid &&
        (loginForm.get('userEmail')?.touched || loginForm.get('userEmail')?.dirty)
      ) {
        @if (loginForm.get('userEmail')?.errors?.['required']) {
          <div class="error">Ce champ est obligatoire</div>
        } @else if (loginForm.get('userEmail')?.errors?.['email']) {
          <div class="error">Saisissez une adresse mail valide : votre@adresse.email</div>
        }
      }
    </div>
    <div>
      <label for="pswd">Mot de passe&nbsp;:</label><span class="required">*</span>
      <input
        type="password"
        id="pswd"
        formControlName="pswd"
        placeholder="Votre mot de passe"
        autocomplete="current-password"
        required
        [maxlength]="100"
      />
      @if (
        (loginForm.get('pswd')?.invalid || warningMaxlength(loginForm.get('pswd')?.value, 100)) &&
        (loginForm.get('pswd')?.touched || loginForm.get('pswd')?.dirty)
      ) {
        @if (loginForm.get('pswd')?.errors?.['required']) {
          <div class="error">Ce champ est obligatoire</div>
        } @else {
          <div class="warning">Information : ce champ est limité à 100 caractères</div>
        }
      }
    </div>
    <div>
      <input type="checkbox" id="permanent" formControlName="permanent" value="1" />
      <label for="permanent"> Restez connecté.e</label>
    </div>
    <div class="div-button">
      <button type="submit" [disabled]="loginForm.invalid" [class.btn-disabled]="loginForm.invalid">
        Se connecter
      </button>
      <button type="reset" title="Effacer" aria-label="Effacer">
        <i class="fa-solid fa-eraser"></i>
      </button>
    </div>

    <div>
      <p>
        Vous n'avez pas encore un compte ? &nbsp;
        <a class="link" (click)="gotoAddUser()">S'inscrire</a>
      </p>
    </div>
  </form>
</section>
