<section>
  <!-- Login form -->
  <form id="loginForm" #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form">
    <h2>Connexion</h2>

    <div>
      <label for="email">E-mail&nbsp;:</label>
      <input
        type="email"
        name="email"
        id="email"
        [(ngModel)]="user.email"
        placeholder="votre@adresse.email"
        required
      />
    </div>
    <div>
      <label for="pswd">Mot de passe&nbsp;:</label>
      <input
        type="password"
        name="pswd"
        id="pswd"
        [(ngModel)]="user.pswd"
        placeholder="Votre mot de passe"
        autocomplete="current-password"
        required
      />
    </div>
    <div>
      <input type="checkbox" name="permanent-login" id="permanent-login" value="1" />
      <label for="permanent-login"> Restez connecté.e</label>
    </div>
    <div class="div-button">
      <button type="submit">Se connecter</button>
      <button type="reset" title="Effacer" aria-label="Effacer">
        <i class="fa-solid fa-eraser"></i>
      </button>
    </div>

    <div>
      <p>
        Vous n'avez pas encore un compte ? &nbsp;
        <a routerLink="/add-user">S'inscrire</a>
      </p>
    </div>
  </form>
</section>
