.high-price {
  color: rgb(220, 10, 0);
  font-weight: bold;
}

.low-price {
  color: rgb(0, 64, 0);
}

.unavailable-row {
  font-weight: 600;
}

.unavailable-cell,
.unavailable-cell-left {
  color: red;
  transform: scale(1.1);
}

.cell-left,
.unavailable-cell-left {
  text-align: left;
}
