<section>
  <!-- User Add/Edit Form -->
  <form class="form white" [formGroup]="userForm" (ngSubmit)="submit()">
    <!-- Information regarding the completion of the form -->
    <app-tooltip [isSimple]="true" [helpHTML]="helpHTML"></app-tooltip>

    <!-- Form title -->
    <h2>{{ title }}</h2>

    <!-- Required fields -->
    <fieldset>
      <legend>Informations personnelles</legend>
      <!-- User's login name -->
      <div>
        <label for="userName">Nom&nbsp;:</label><span class="required">*</span>
        <input
          type="text"
          id="userName"
          formControlName="userName"
          placeholder="Votre nom d'utilisateur"
          autocomplete="off"
          [maxlength]="50"
        />
        <!-- Error message -->
        @if (
          (userForm.get('userName')?.invalid ||
            warningMaxlength(userForm.get('userName')?.value, 50)) &&
          (userForm.get('userName')?.touched || userForm.get('userName')?.dirty)
        ) {
          @if (userForm.get('userName')?.errors?.['required']) {
            <div class="error">Ce champ est obligatoire</div>
          } @else if (userForm.get('userName')?.errors?.['pattern']) {
            <div class="error">Saisissez au moins 3 caractères non blancs</div>
          } @else {
            <div class="warning">Information : ce champ est limité à 50 caractères</div>
          }
        }
      </div>
      <!-- User's email -->
      <div>
        <label for="userEmail">E-mail&nbsp;:</label><span class="required">*</span>
        <input
          type="email"
          id="userEmail"
          formControlName="userEmail"
          placeholder="votre@adresse.email"
          autocomplete="off"
        />
        <!-- Error message -->
        @if (
          userForm.get('userEmail')?.invalid &&
          (userForm.get('userEmail')?.touched || userForm.get('userEmail')?.dirty)
        ) {
          @if (userForm.get('userEmail')?.errors?.['required']) {
            <div class="error">Ce champ est obligatoire</div>
          } @else if (userForm.get('userEmail')?.errors?.['email']) {
            <div class="error">Saisissez une adresse mail valide : votre@adresse.email</div>
          }
        }
      </div>
      @if (!isEditMode) {
        <!-- User's password -->
        <div>
          <!-- Password -->
          <label for="pswd">Mot de passe&nbsp;:</label><span class="required">*</span>
          <input
            type="password"
            id="pswd"
            formControlName="pswd"
            autocomplete="new-password"
            placeholder="Votre mot de passe"
            [maxlength]="100"
          />
          <!-- Error message -->
          @if (
            (userForm.get('pswd')?.invalid || warningMaxlength(userForm.get('pswd')?.value, 100)) &&
            (userForm.get('pswd')?.touched || userForm.get('pswd')?.dirty)
          ) {
            @if (userForm.get('pswd')?.errors?.['required']) {
              <div class="error">Ce champ est obligatoire</div>
            } @else if (userForm.get('pswd')?.errors?.['pattern']) {
              <div class="error">
                Le mot de passe doit contenir au moins 10 caractères, tous non blancs, avec au moins
                une lettre minuscule, une lettre majuscule, un chiffre et un caractère spécial
              </div>
            } @else {
              <div class="warning">Information : ce champ est limité à 100 caractères</div>
            }
          }
          <!-- Confirm password -->
          <div [class]="'confirm'">
            <label for="confirm">Confirmation du mot de passe&nbsp;:</label
            ><span class="required">*</span>
            <input
              type="password"
              id="confirm"
              formControlName="confirm"
              autocomplete="new-password"
              placeholder="Confirmez de votre mot de passe"
              aria-label="Confirmez de votre mot de passe"
              [maxlength]="100"
            />
            <!-- Error message -->
            @if (userForm.get('confirm')?.touched || userForm.get('confirm')?.dirty) {
              @if (userForm.get('confirm')?.errors?.['required']) {
                <div class="error">Ce champ est obligatoire</div>
              } @else if (userForm.hasError('pswdMismatch')) {
                <div class="error">La confirmation du mot de passe est incorrecte</div>
              }
            }
          </div>
        </div>
      }
    </fieldset>

    <!-- Optional fields -->
    <fieldset>
      <legend>Informations supplémentaires</legend>
      <!-- Form fields regarding the user's gender -->
      <div class="field-container">
        <div class="field-label" aria-label="Genre">Genre&nbsp;:</div>
        <div>
          @for (gender of Genders.list; track gender.value; let i = $index) {
            <div class="field">
              <input
                type="radio"
                [id]="gender.id"
                [formControlName]="'gender'"
                [value]="gender.value"
              />
              <label [for]="gender.id">
                {{ Genders.getLabel(gender.value, 'Je le garde pour moi') }}
              </label>
            </div>
          }
        </div>
      </div>
      <!-- Form fields regarding user interests -->
      <div class="field-container">
        <div class="field-label" aria-label="Intérêts">Centres d'ntérêts&nbsp;:</div>
        <div>
          @for (interest of Interests.list; track interest.value; let i = $index) {
            <div class="field">
              <input
                type="checkbox"
                [id]="interest.id"
                [formControlName]="interest.id"
                [value]="interest.value"
              />
              <label [for]="interest.id"> {{ interest.label }}</label>
            </div>
          }
        </div>
      </div>
      <!-- User's country -->
      <div>
        <label for="country">Pays&nbsp;:</label>
        <select id="country" formControlName="country" autocomplete="off">
          @for (country of Countries.list; track country.value; let i = $index) {
            <option [value]="country.value">{{ country.label }}</option>
          }
        </select>
      </div>
    </fieldset>

    <div class="div-button">
      <button
        type="submit"
        [disabled]="userForm.invalid || !hasChanged()"
        [class.btn-disabled]="userForm.invalid || !hasChanged()"
      >
        {{ btnAction }}
      </button>
      <button type="button" title="Effacer" aria-label="Effacer" (click)="reset()">
        <i class="fa-solid fa-eraser"></i>
      </button>
    </div>

    <!-- Link to the login page -->
    @if (!isEditMode) {
      <div>
        <p>
          Vous avez déjà un compte ? &nbsp;
          <a class="link" (click)="gotoLogin()">Se connecter</a>
        </p>
      </div>
    }
  </form>
  <!-- {{ userForm.value | json }} <br />
  {{ userForm.valid | json }} -->
</section>
