<section>
  <!-- Product Add/Edit Form -->
  <form id="productForm" #productForm="ngForm" (ngSubmit)="submit(productForm)" class="form">
    <!-- Information regarding the completion of the form -->
    <app-tooltip [isSimple]="false" [helpHTML]="helpHTML"></app-tooltip>

    <!-- Form title -->
    <h2>{{ title }}</h2>

    <div>
      <label for="productName">Nom&nbsp;:</label><span class="required">*</span>
      <input
        type="text"
        name="productName"
        id="productName"
        [(ngModel)]="product.name"
        placeholder="Nom de l'article"
        required
        maxlength="50"
        #productName="ngModel"
      />
      @if (
        (productName?.invalid ||
          errorMinlength(productName?.value, 3) ||
          warningMaxlength(productName?.value, 50)) &&
        (productName?.touched || productName?.dirty)
      ) {
        @if (productName?.errors?.['required']) {
          <div class="error">Ce champ est obligatoire</div>
        } @else if (errorMinlength(productName?.value, 3)) {
          <div class="error">Ce champ doit contenir au moins 3 caractères non blancs</div>
        } @else {
          <div class="warning">Information : ce champ est limité à 50 caractères</div>
        }
      }
    </div>
    <div>
      <label for="description">Description succincte&nbsp;:</label><span class="required">*</span>
      <input
        type="text"
        name="description"
        id="description"
        [(ngModel)]="product.description"
        placeholder="Description succincte de l'article"
        required
        maxlength="50"
        #description="ngModel"
      />
      @if (
        (description?.invalid ||
          errorMinlength(description?.value, 10) ||
          warningMaxlength(description?.value, 50)) &&
        (description?.touched || description?.dirty)
      ) {
        @if (description?.errors?.['required']) {
          <div class="error">Ce champ est obligatoire</div>
        } @else if (errorMinlength(description?.value, 10)) {
          <div class="error">Ce champ doit contenir au moins 10 caractères non blancs</div>
        } @else {
          <div class="warning">Information : ce champ est limité à 50 caractères</div>
        }
      }
    </div>
    <div>
      <div class="label-number">
        <label for="price">Prix&nbsp;:</label>
        <span class="required" [style.margin-right]="'5px'">*</span>
      </div>
      <input
        type="text"
        name="price"
        id="price"
        class="number"
        [(ngModel)]="productPrice"
        placeholder="0,00"
        required
        maxlength="7"
        #price="ngModel"
        (change)="formatPrice()"
      />
      @if ((price?.invalid || errorPrice()) && (price?.touched || price?.dirty)) {
        @if (price?.errors?.['required']) {
          <div class="error">Ce champ est obligatoire</div>
        } @else {
          <div class="error">Le prix doit être un nombre supérieur à 0 et inférieur à 10000</div>
        }
      }
    </div>
    <div>
      <div class="label-number">
        <label for="stock">Stock&nbsp;:</label>
        <span class="required" [style.margin-right]="'5px'">*</span>
      </div>
      <input
        type="text"
        name="stock"
        id="stock"
        class="number"
        [(ngModel)]="productStock"
        required
        maxlength="7"
        #stock="ngModel"
      />
      @if ((stock?.invalid || errorStock()) && (stock?.touched || stock?.dirty)) {
        @if (stock?.errors?.['required']) {
          <div class="error">Ce champ est obligatoire</div>
        } @else {
          <div class="error">
            Le stock doit être un nombre entier positif ou nul et inférieur à 10000
          </div>
        }
      }
    </div>
    <div>
      <label for="productImg">Image&nbsp;:</label><span class="required">*</span>
      <input
        type="text"
        name="productImg"
        id="productImg"
        [(ngModel)]="product.img"
        placeholder="Chemin de l'image"
        required
        #productImg="ngModel"
      />
      @if (productImg?.invalid && (productImg?.touched || productImg?.dirty)) {
        @if (productImg?.errors?.['required']) {
          <div class="error">Ce champ est obligatoire</div>
        }
      }
    </div>
    <div class="field-container first">
      <div class="field-label" aria-label="ProductTypes de produit">ProductTypes&nbsp;:</div>
      <div>
        @for (type of ProductTypes.list; track type.value; let i = $index) {
          @if (type.value !== ProductTypes.other.value) {
            <div class="field">
              <input
                type="checkbox"
                [id]="type.id"
                name="productType"
                [value]="type.value"
                (click)="ngDoCheck()"
                #productType
              />
              <label [for]="type.id"> {{ type.label }}</label>
            </div>
          }
        }
      </div>
    </div>
    <div class="field-container">
      <div class="field-label" aria-label="Catégories du produit">Catégories&nbsp;:</div>
      <div>
        @for (category of ProductCategories.list; track category.value; let i = $index) {
          @if (category.value !== ProductCategories.other.value) {
            <div class="field">
              <input
                type="checkbox"
                [id]="category.id"
                name="productCategory"
                [value]="category.value"
                (click)="ngDoCheck()"
                #productCategory
              />
              <label [for]="category.id"> {{ category.label }}</label>
            </div>
          }
        }
      </div>
    </div>
    <div>
      <label for="fullDescription">Description détaillée&nbsp;:</label>
      <textarea
        name="fullDescription"
        id="fullDescription"
        rows="7"
        [(ngModel)]="product.fullDescription"
        placeholder="{{ placeholderFullDesc }}"
      ></textarea>
    </div>
    <div>
      <label for="info">Information additionnelle&nbsp;:</label>
      <textarea
        name="info"
        id="info"
        [(ngModel)]="productInfo"
        placeholder="Par exemple « Cet article est fortement recommandé par nos clients »"
        maxlength="100"
        #info="ngModel"
      ></textarea>
      @if (warningMaxlength(info?.value, 100) && (info?.touched || info?.dirty)) {
        <div class="warning">Information : ce champ est limité à 100 caractères</div>
      }
    </div>
    <div class="div-button">
      <button
        type="submit"
        [disabled]="
          productForm.invalid ||
          errorMinlength(productName?.value, 3) ||
          errorMinlength(description?.value, 10) ||
          errorPrice() ||
          errorStock() ||
          !hasChanged()
        "
        [class.btn-disabled]="
          productForm.invalid ||
          errorMinlength(productName?.value, 3) ||
          errorMinlength(description?.value, 10) ||
          errorPrice() ||
          errorStock() ||
          !hasChanged()
        "
      >
        {{ btnAction }}
      </button>
      <button type="button" title="Effacer" aria-label="Effacer" (click)="reset(productForm)">
        <i class="fa-solid fa-eraser"></i>
      </button>
    </div>
  </form>
</section>
