<section>
  <!-- Product addition form -->
  <form id="productForm" #productForm="ngForm" (ngSubmit)="submit(productForm)" class="form">
    <h2>{{ title }}</h2>

    <div>
      <label for="productName">Nom&nbsp;:</label>
      <input
        type="text"
        name="productName"
        id="productName"
        [(ngModel)]="product.name"
        placeholder="Nom de l'article"
        required
        minlength="3"
        maxlength="50"
        #productName="ngModel"
      />
      @if (productName.invalid && (productName.touched || productName.dirty)) {
        @if (productName.errors?.['required']) {
          <div class="text-danger error">Ce champ est obligatoire</div>
        } @else if (productName.errors?.['minlength']) {
          <div class="text-danger error">Ce champ doit contenir au moins 3 caractères</div>
        }
      }
    </div>
    <div>
      <label for="description">Description succincte&nbsp;:</label>
      <textarea
        name="description"
        id="description"
        [(ngModel)]="product.description"
        placeholder="Description de l'article"
        required
        minlength="10"
        maxlength="50"
        #description="ngModel"
      ></textarea>
      @if (description.invalid && (description.touched || description.dirty)) {
        @if (description.errors?.['required']) {
          <div class="text-danger error">Ce champ est obligatoire</div>
        } @else if (description.errors?.['minlength']) {
          <div class="text-danger error">Ce champ doit contenir au moins 10 caractères</div>
        }
      }
    </div>
    <div>
      <label for="price">Prix&nbsp;:&nbsp;</label>
      <input
        type="text"
        name="price"
        id="price"
        [(ngModel)]="productPrice"
        class="number"
        required
        maxlength="7"
        #price="ngModel"
      />
      @if ((price.invalid || errorPrice()) && (price.touched || price.dirty)) {
        @if (price.errors?.['required']) {
          <div class="text-danger error">Ce champ est obligatoire</div>
        } @else {
          <div class="text-danger error">
            Le prix doit être un nombre supérieur à 0 et inférieur à 10000
          </div>
        }
      }
    </div>
    <div>
      <label for="productImg">Image&nbsp;:</label>
      <input
        type="text"
        name="productImg"
        id="productImg"
        [(ngModel)]="product.img"
        placeholder="Chemin de l'image"
        required
        #productImg="ngModel"
      />
      @if (productImg.invalid && (productImg.touched || productImg.dirty)) {
        @if (productImg.errors?.['required']) {
          <div class="text-danger error">Ce champ est obligatoire</div>
        }
      }
    </div>
    <div>
      <label for="fullDescription">Description détaillée&nbsp;:</label>
      <textarea
        name="fullDescription"
        id="fullDescription"
        [(ngModel)]="product.fullDescription"
      ></textarea>
    </div>
    <div>
      <label for="info">Information additionnelle&nbsp;:</label>
      <textarea
        name="info"
        id="info"
        [(ngModel)]="product.info"
        maxlength="100"
        #info="ngModel"
      ></textarea>
    </div>
    <div class="div-button">
      <button
        type="submit"
        [disabled]="productForm.invalid || errorPrice() || !hasChanged()"
        [class.btn-disabled]="productForm.invalid || errorPrice() || !hasChanged()"
      >
        {{ btnAction }}
      </button>
      <button type="button" (click)="reset()" title="Effacer" aria-label="Effacer">
        <i class="fa-solid fa-eraser"></i>
      </button>
    </div>
  </form>
</section>
