<section>
  <!-- Product addition form -->
  <form id="productForm" #productForm="ngForm" (ngSubmit)="submit(productForm)" class="form">
    <h2>{{ title }}</h2>

    <div>
      <label for="productName">Nom&nbsp;:</label>
      <input
        type="text"
        name="productName"
        id="productName"
        [(ngModel)]="product.name"
        placeholder="Nom de l'article"
        required
        minlength="5"
        maxlength="50"
        #productName="ngModel"
      />
      @if (productName.invalid && (productName.touched || productName.dirty)) {
        @if (productName.errors?.['required']) {
          <div class="text-danger error">Ce champ est obligatoire</div>
        } @else if (productName.errors?.['minlength']) {
          <div class="text-danger error">Ce champ doit contenir au moins 5 caractères</div>
        } @else if (productName.errors?.['maxlength']) {
          <div class="text-danger error">Ce champ doit contenir au plus 50 caractères</div>
        }
      }
    </div>
    <div>
      <label for="description">Description succincte&nbsp;:</label>
      <textarea
        name="description"
        id="description"
        [(ngModel)]="product.description"
        placeholder="Description de l'article"
        required
        minlength="10"
        maxlength="50"
        #description="ngModel"
      ></textarea>
      @if (description.invalid && (description.touched || description.dirty)) {
        @if (description.errors?.['required']) {
          <div class="text-danger error">Ce champ est obligatoire</div>
        } @else if (description.errors?.['minlength']) {
          <div class="text-danger error">Ce champ doit contenir au moins 10 caractères</div>
        } @else if (description.errors?.['maxlength']) {
          <div class="text-danger error">Ce champ doit contenir au plus 50 caractères</div>
        }
      }
    </div>
    <div>
      <label for="price">Prix&nbsp;:&nbsp;</label>
      <input
        type="text"
        name="price"
        id="price"
        [(ngModel)]="product.price"
        (change)="checkPrice()"
        class="number"
        required
        maxlength="7"
        #price="ngModel"
      />
      @if (price.invalid && (price.touched || price.dirty)) {
        @if (price.errors?.['required']) {
          <span
            class="text-danger error"
            [style.font-weight]="'normal'"
            [style.padding-left]="'10px'"
            >Ce champ est obligatoire</span
          >
        }
      }
    </div>
    <div>
      <label for="productImg">Image&nbsp;:</label>
      <input
        type="text"
        name="productImg"
        id="productImg"
        [(ngModel)]="product.img"
        placeholder="Chemin de l'image"
        required
        #productImg="ngModel"
      />
      @if (productImg.invalid && (productImg.touched || productImg.dirty)) {
        @if (productImg.errors?.['required']) {
          <div class="text-danger error">Ce champ est obligatoire</div>
        }
      }
    </div>
    <div>
      <label for="fullDescription">Description détaillée&nbsp;:</label>
      <textarea
        name="fullDescription"
        id="fullDescription"
        [(ngModel)]="product.fullDescription"
      ></textarea>
    </div>
    <div>
      <label for="info">Information additionnelle&nbsp;:</label>
      <textarea
        name="info"
        id="info"
        [(ngModel)]="product.info"
        maxlength="100"
        #info="ngModel"
      ></textarea>
      @if (info.invalid && (info.touched || info.dirty)) {
        @if (info.errors?.['maxlength']) {
          <div class="text-danger error">Ce champ doit contenir au plus 100 caractères</div>
        }
      }
    </div>
    <div class="div-button">
      <button type="submit" [disabled]="productForm.invalid" [class.btn-disabled]="productForm.invalid">{{ btnAction }}</button>
      <button type="button" (click)="reset(productForm)" title="Effacer" aria-label="Effacer">
        <i class="fa-solid fa-eraser"></i>
      </button>
    </div>
  </form>
</section>
